<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>React-Redux-Test</title>  
    <meta http-equiv="X-UA-Compatible" content="IE=9;IE=8;IE=7;IE=EDGE">
    <!-- Bootstrap -->
    <link href="./static/gentelella/lib/css/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="./static/gentelella/lib/css/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- iCheck -->
    <link href="./static/gentelella/lib/css/iCheck/green.css" rel="stylesheet">
    <!-- Select2 -->
    <link href="./static/gentelella/lib/css/select2.min.css" rel="stylesheet">
    <!-- Switchery -->
    <link href="./static/gentelella/lib/css/switchery.min.css" rel="stylesheet">
    <!-- Datatables -->
    <link href="./static/gentelella/lib/css/dataTables.bootstrap.min.css" rel="stylesheet">
    <link href="./static/gentelella/lib/css/buttons.bootstrap.min.css" rel="stylesheet">
    <link href="./static/gentelella/lib/css/fixedHeader.bootstrap.min.css" rel="stylesheet">
    <link href="./static/gentelella/lib/css/responsive.bootstrap.min.css" rel="stylesheet">
    <link href="./static/gentelella/lib/css/scroller.bootstrap.min.css" rel="stylesheet">

    <!-- PNotify -->
    <link href="./static/gentelella/lib/css/pnotify.css" rel="stylesheet">
    <link href="./static/gentelella/lib/css/pnotify.buttons.css" rel="stylesheet">
    <link href="./static/gentelella/lib/css/pnotify.nonblock.css" rel="stylesheet">

    <!-- Custom Theme Style -->
    <link href="./static/gentelella/build/css/custom.css" rel="stylesheet">
    <link href="./static/gentelella/build/css/common.css" rel="stylesheet"> 
  </head>
  <body class="nav-md">
    <div id="root"></div>
    <!-- built files will be auto injected -->
    <!-- jQuery -->
    <script src="./static/gentelella/lib/js/jquery.min.js"></script>
    <script src="./static/gentelella/lib/js/jquery.form.min.js"></script>
    <!-- Bootstrap -->
    <script src="./static/gentelella/lib/js/bootstrap.min.js"></script>
    <!-- bootstrap-daterangepicker -->
    <script src="./static/gentelella/lib/js/moment.min.js"></script>
    <script src="./static/gentelella/lib/js/daterangepicker.js"></script>
    <!-- iCheck -->
    <script src="./static/gentelella/lib/js/icheck.min.js"></script>
    <!-- Switchery -->
    <script src="./static/gentelella/lib/js/switchery.min.js"></script>
    <!-- Select2 -->
    <script src="./static/gentelella/lib/js/select2.full.min.js"></script>
    <!-- bootstrap-progressbar -->
    <script src="./static/gentelella/lib/js/bootstrap-progressbar.min.js"></script>
    <!-- Datatables -->
    <script src="./static/gentelella/lib/js/jquery.dataTables.min.js"></script>
    <script src="./static/gentelella/lib/js/dataTables.bootstrap.min.js"></script>
    <script src="./static/gentelella/lib/js/dataTables.buttons.min.js"></script>
    <script src="./static/gentelella/lib/js/dataTables.fixedHeader.min.js"></script>
    <script src="./static/gentelella/lib/js/dataTables.keyTable.min.js"></script>
    <script src="./static/gentelella/lib/js/dataTables.responsive.min.js"></script>
    <script src="./static/gentelella/lib/js/responsive.bootstrap.js"></script>
    <script src="./static/gentelella/lib/js/dataTables.scroller.min.js"></script>

    <!-- PNotify -->
    <script src="./static/gentelella/lib/js/pnotify.js"></script>
    <script src="./static/gentelella/lib/js/pnotify.buttons.js"></script>
    <script src="./static/gentelella/lib/js/pnotify.nonblock.js"></script>

    <!-- Echarts -->
    <script src="./static/gentelella/lib/js/echarts.min.js"></script>

    <!-- Custom Theme Scripts -->
    <script src="./static/gentelella/build/js/common.js"></script>
  </body>
</html>