<div>
    <a class="hiddenanchor" id="signup"></a>
    <a class="hiddenanchor" id="signin"></a>

    <div class="login_wrapper">
        <div class="animate form login_form">
            <section class="login_content">
                <form ng-submit="VM.submitForm()">
                    <h1>管理系统</h1>
                    <div>
                        <input type="text" class="form-control" placeholder="用户名" ng-model="VM.username" required="" />
                    </div>
                    <div>
                        <input type="password" class="form-control" placeholder="密码" ng-model="VM.password" required="" />
                    </div>
                    <div>
                        <button class="btn btn-default submit" type="submit">登录</button>
                    </div>

                    <div class="clearfix"></div>

                </form>
            </section>
        </div>

    </div>
</div>
<script>
    $('body').attr('class', 'login');
</script>