<% if (site.tags.length){ %>
  <div class="tagcloudlist">
    <p class="asidetitle"><%= __('tagcloud') %></p>
    <div class="tagcloudlist clearfix">
       <%- tagcloud() %>
    </div>
  </div>
<% } %>