//Color
color-background = #dddddd
color-font = #817c7c
color-white = #ffffff
color-blue = #2ca6cb
color-theme = #009FCC
color-font-nav =#E9CD4C
color-section = #fafafa
color-footer = #444444
color-gray = #CCC
color-dark = #333
color-heading = #000
color-code = #eee
color-twitter = #00aced
color-facebook = #3b5998
color-weibo = #eb182c
color-google = #dd4b39
color-qrcode= #49ae0f
color-top = #762c54

//Media
width-phone = 568px
width-mini = 768px
width-tablet = 1024px
width-desktop = 1560px
phone = "only screen and (min-width: " + width-phone + ")"
mini= "only screen and (min-width: " + width-mini + ")"
tablet = "only screen and (min-width: " + width-tablet + ")"
desktop = "only screen and (min-width: " + width-desktop + ")"

//Font
font-default = "Microsoft YaHei", "Helvetica Neue", "Helvetica", "WenQuanYi Micro Hei",Arial, sans-serif
font-serif = "Georgia", serif,"Microsoft YaHei"
font-mono = Monaco, Menlo, Consolas, Courier New, monospace
font-custom-family = "covered_by_your_graceregular"
font-custom-filename = coveredbyyourgrace-webfont
font-icon-family = "FontAwesome"
font-icon-filename = fontawesome-webfont
font-icon-version = "4.0.3"
ShowCustomFont = hexo-config("ShowCustomFont")
font-size = 100%
line-height = 1.5

//image
dataURI = hexo-config("dataURI")
author-img-data = unquote(hexo-config("author_img_data"))
author-img = hexo-config("author_img")
ShowGallery = hexo-config("ShowGallery")
root = hexo-config("root")

//comment
youyan = hexo-config("youyan.on")

//highlight
highlight = hexo-config("highlight.enable")
