<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Godbasin</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">     	
        <li ng-repeat="menu in menus" ng-class="{true: 'current',false: ''}[menu.current]"><a ng-href="menu.href">{{ menu.text }}<span ng-show="menu.current" class="sr-only">(current)</span></a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
      	<li><a>{{ clock }}</a></li>
        <li class="dropdown">
          <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">菜单 <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li ng-repeat="usermenu in usermenus"><a ng-href="usermenu.href">{{ usermenu.text }}</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>