<div class="col-md-3 left_col menu_fixed">
    <div class="left_col scroll-view">
        <div class="navbar nav_title" style="border: 0;">
            <a class="site_title"><i class="fa fa-paw"></i> <span>管理系统</span></a>
        </div>

        <div class="clearfix"></div>

        <!-- menu profile quick info -->
        <div class="profile">
            <div class="profile_pic"></div>
            <div class="profile_info">
                <h2><span>欢迎回来, </span> 老大</h2>
            </div>
        </div>
        <div class="clearfix"></div>

        <!-- sidebar menu -->
        <div class="main_menu_side hidden-print main_menu">
            <div class="menu_section">
                <br />
                <h2>通用设置</h2>
                <br />
                <ul class="nav side-menu metismenu" id="sidebar-menu">
                    <li class="topper-menu" *ngFor="let menu of menus;" [ngClass]="menu.link && isActive(menu.link) ? 'active' : ''">
                        <a *ngIf="menu.link" [routerLink]="menu.link"><i class="fa" [ngClass]="menu.icon"></i> {{menu.text}}</a>
                        <a *ngIf="!menu.link" class="has-arrow"><i class="fa" [ngClass]="menu.icon"></i> {{menu.text}}</a>
                        <ul class="nav child_menu slide">
                            <li *ngFor="let childMenu of menu.childMenus;" class="slide-item" routerLinkActive="current-page">
                                <a [routerLink]="childMenu.link">{{ childMenu.text }}</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>

        </div>
    <!-- /sidebar menu -->
    </div>
</div>