.article-gallery 
  background color-section
  position relative

.article-gallery-photos
  position relative
  overflow hidden

.article-gallery-img 
  display none;
  max-width 100%
  &:first-child 
    display block
  .loaded
    position absolute
    display block
  img 
  display block
  max-width 100%
  margin 0 auto
